.review ul li.active {
  color: var(--gray-color);
  background-color: var(--green-color);
  transition: 0.2 ease-in-out;
  padding-top: 15px;
  width: 200px;
  height: 58px;
  border-radius: 30px;
  text-align: center;
}
.review ul li.unactive:hover {
  color: var(--gray-color);
  transition: 0.2 ease-in-out;
  padding-top: 15px;
  width: 200px;
  height: 58px;
  border-radius: 30px;
  text-align: center;
}
.review li.unactive {
  color: var(--green-color);
  width: 200px;
  height: 58px;
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding-top: 15px;
}
.review ul li {
  position: relative;
  cursor: pointer;
}
